body {
    font-family: Arial, sans-serif;
    margin: 30px;
    background-color: #f9f9f95c;
}

h1 {
    text-align: center;
    color: #502c2c;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
}

th, td {
    border: 1px solid #ead7d7;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
}

th {
    background-color: #34345e;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

code {
    background-color: #eef;
    padding: 2px 5px;
}